.persons {
  height: 400px;
  text-align: center;
  position: relative;
  top: 105px;

  input {
    transform: translateY(1px);
  }

  label {
    margin-left: 10px;
    cursor: pointer;
  }

  input[type="text"] {
    padding: 10px;
    border-radius: 40px;
    font-size: 1.3rem;
    border: 3px solid $color-1;
    outline: none;
    transition: 0.4s;
    text-align: center;
    width: 400px;
    margin-bottom: 20px;

    &:focus {
      background: $color-1;
      border-radius: 4px;
      color: $white;
    }
  }

  button {
    margin: 0 auto 20px;
    background: none;
    border: 2px solid $color-1;
    padding: 4px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: $color-1;
    }
  }

  ul {
    display: flex;
    justify-content: center;
  }
}

.pagination {
  position: relative;
  margin-left: 80px;
  top: 110px;
  width: 240px;
  height: 50px;

  h4 {
    position: relative;
    margin: auto;
    left: 90px;
  }

  button {
    background-color: #faf096;
    padding: 5px;
    border-radius: 10px;
    width: 120px;
  }
}